# General
.DS_Store
Thumbs.db
*.log

# Editor
.vscode/
.idea/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Frontend
frontend/.next/
frontend/out/
frontend/build/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Backend
backend/.env
backend/vendor/
backend/composer.lock
.next/
dist/
backend/php/vendor/
vendor/
